@model InventViewModel;
@{
    ViewData["Title"] = "Inventory";
}
<form method="post" asp-controller="Invent" asp-action="Index">
    <div class=" logo_inv">
        <h1>Таблица инвенторизации</h1>
    </div>
    <div class="tablelog">

        <table class="table">


            <tr class="table1">
                <th>Наименование товара</th>
                <th>Должно быть на складе</th>
                <th>Количество после ввода данных</th>
                <th>Введите количество в данный момент</th>

            </tr>



            <tr class="R">
               
                <td>Табуретка</td>
                <td align="center">@Model.ChairStock</td>
                @if (Model.Chair < Model.ChairStock)
                {
                    <td class="color" align="center">@Model.Chair</td>
                }
                else
                {
                <td class="color1" align="center">@Model.Chair</td>
                }
                <td><input class="text_field1" type="text" asp-for="Chair" /></td>
            </tr>
            <tr>
                <td>Стол</td>
                <td align="center">@Model.TableStock</td>
                @if (Model.Table < Model.TableStock)
                {
                    <td class="color" align="center">@Model.Table</td>
                }
                else
                {
                    <td class="color1" align="center">@Model.Table</td>
                }
                <td><input class="text_field1" type="text" asp-for="Table" /></td>
            </tr>
            <tr class="R">
                <td>Стул</td>
                <td align="center">@Model.ClosetStock</td>
                @if (Model.Closet < Model.ClosetStock)
                {
                    <td class="color" align="center">@Model.Closet</td>
                }
                else
                {
                    <td class="color1" align="center">@Model.Closet</td>
                }
                <td><input class="text_field1" type="text" asp-for="Closet" /></td>
            </tr>
            <tr class="R">
                <td>Кровать</td>
                <td align="center">@Model.SofaStock</td>
                @if (Model.Sofa < Model.SofaStock)
                {
                    <td class="color" align="center">@Model.Sofa</td>
                }
                else
                {
                    <td class="color1" align="center">@Model.Sofa</td>
                }
                <td><input class="text_field1" type="text" asp-for="Sofa" /></td>
            </tr>

        </table>
        

    </div>
    <div class="buttom">
        <input class="submit" type="submit" value="Send" />
    </div>
</form>